* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Design for navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
}

.btn-register {
  background-color: #4338ca;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

/* Design for hero section */
.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
}

.hero-text {
  max-width: 700px;
}

.hero-text h1 {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-text h1 em {
  font-style: italic;
}

.hero-text p {
  color: #e5e5e5;
  font-size: 16px;
  line-height: 1.6;
}

/*Design for Speakers Section */
.speakers {
  text-align: center;
  padding: 60px 40px;
}

.speakers h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.speakers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  text-align: left;
}

.speaker-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.speaker-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.speaker-info {
  padding: 15px;
}

.speaker-tag {
  color: #4338ca;
  font-size: 12px;
  font-weight: bold;
}

.speaker-info h3 {
  margin: 8px 0 4px;
}

.speaker-info p {
  color: #555;
  font-size: 14px;
}

/* Design for Pricing Section  */
.pricing {
  text-align: center;
  padding: 60px 40px;
}

.pricing h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.pricing-subtitle {
  color: #666;
  margin-bottom: 40px;
}

.pricing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.pricing-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 25px;
  text-align: left;
}

.pricing-card.featured {
  background-color: #0f172a;
  color: white;
  border: none;
}

.plan-label {
  font-size: 12px;
  font-weight: bold;
  color: #666;
}

.pricing-card.featured .plan-label {
  color: #ccc;
}

.plan-price {
  font-size: 28px;
  margin: 8px 0 2px;
}

.plan-note {
  font-size: 13px;
  color: #888;
  margin-bottom: 15px;
}

.pricing-card.featured .plan-note {
  color: #aaa;
}

.pricing-card hr {
  margin-bottom: 20px;
}

.plan-features {
  list-style: none;
  margin-bottom: 20px;
}

.plan-features li {
  font-size: 14px;
  margin-bottom: 10px;
}

.btn-plan {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #4338ca;
  background-color: white;
  color: #4338ca;
  font-weight: 500;
  cursor: pointer;
}

.btn-plan-primary {
  background-color: #4338ca;
  color: white;
  border: none;
}

/* Design for Terminal Schedule Section */
.terminal-schedule {
  text-align: center;
  padding: 60px 40px;
}

.terminal-schedule h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.terminal-subtitle {
  color: #666;
  margin-bottom: 40px;
}


.code-editor {
  max-width: 600px;
  margin: 0 auto;
  background-color: #1e1e2e;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
}


.editor-header {
  background-color: #2a2a3d;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.dots {
  display: flex;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dot.red {
  background-color: red;
}
.dot.yellow {
  background-color: yellow;
}
.dot.green {
  background-color: green;
}

.file-name {
  color: #aaa;
  font-size: 13px;
}

.editor-body {
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.editor-body pre {
  color: white;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.8;
  white-space: pre-wrap;
}


.comment {
  color: #6a9955;
  font-weight: bold;
}
